.app-date-picker {
  &__inner {
    padding: 13px 42px 13px 19px;
    height: 44px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    &::placeholder {
      font-size: 14px;
      letter-spacing: 0.42px;
      color: #949494;
      opacity: 0.4;
      text-align: center;
    }
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color: #949494;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}