.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 137px;
  background-color: #029491;
  padding-left: 60px;
  padding-right: 45px;

  &__content {
    > .app-footer__content-item {
      margin-top: 21px;
    }
  }

  &__content-primary {
    text-align: right;
  }

  &__content-item {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    text-decoration: none;
    line-height: normal;
    text-align: right;
  }

  @media (max-width: 900px) {
    padding-left: 18px;
    padding-right: 19px;
  }
}