.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrapper__content {
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 900px) {
  .main-wrapper {
    &__content {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}